#navbar{
  background-color: #3AA2FB;
  padding: 1rem;
}

#navbar a{
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

body{
  background-color: #F1F8FE;
}


button{
  padding: 0.75rem 2rem 0.75rem 2rem;
}

.centerme{
  text-align: center;
}

/* Plan */

#pricing-and-offer-div{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
#plan-pricing-div, #subscription-features-div{
  max-width: 30%;
}

#plan-pricing-div{
  padding: 5rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  color: #2699FB;;
}

#subscription-features-div{
  border: 2px solid #BCE0FD;
  padding: 2rem;
}

.ExploreImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.paragraphOne {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.paragraphTwo {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.credit{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/* ----- Front Page ------ */
.centerHomePageTitle {
  color: #575DF4;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 65px;
  margin-bottom: 0;
}

.titleSlogan {
  color: #6669af;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 30px;
}

.blueButton {
  background-color: #2699FB;
  border: 1px solid #2699FB;
  color: #FFF;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 26px;
}

.learnMoreButton {
  background-color: transparent;
  border: 3px solid #BCE0FD;
  border-radius: 3px;
  color: #2699FB;
  font-weight: bold;
}

.buttonContainer {
  width: 321px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

/* ----- Plans Page ------ */
.pageTitle {
  color: #575DF4;
  font-size: 30px;
  font-family: 'Open Sans';
  margin: 40px 0px 73px 0px;
}
#subscription-features-div h2 {
  font: 800 14px 'Open Sans';
  color: #505050;
  margin: 0;
}

#subscription-features-div ul li {
  color: #2699FB;
  margin: 25px 0;
  font-family: 'Open Sans';
}
#interestedText {
  color: #505050;
  margin: 43px;
}
/* User Page */
.profile-pic{
  width: 30%;
}

.userprofile-div{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

/* Upload Digital */
#uploadDigitalCol{
  float:left;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 70px;
  align-items: flex-start;
  color: blue;
  font-weight: bolder;
  font-size: larger;
  
}

#submitCol{
  float: right;
  display: flex;
  justify-content: flex-start;
  padding-right: 500px;
}
#registerbutton{
  background-color: #8506f9;
  color: #FFF;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  width: 140px;
  height: 50px;
  position:relative;
}

/* Upload Physical */
#uploadPhysicalCol{
  float:left;
  display:flex;
  flex-direction: column;
  padding-left: 70px;
  align-items: flex-start;
  color: blue;
  font-weight: bolder;
  font-size: larger;
  
}