#navbar{
  background-color: #3AA2FB;
  padding: 1rem;
}

#navbar a{
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

body{
  background-color: #F1F8FE;
}


button{
  padding: 0.75rem 2rem 0.75rem 2rem;
}

.centerme{
  text-align: center;
}

/* Plan */

#pricing-and-offer-div{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
#plan-pricing-div, #subscription-features-div{
  max-width: 30%;
}

#plan-pricing-div{
  padding: 5rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  color: #2699FB;;
}

#subscription-features-div{
  border: 2px solid #BCE0FD;
  padding: 2rem;
}


/* ----- Front Page ------ */
.centerHomePageTitle {
  color: #575DF4;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 65px;
  margin-bottom: 0;
}

.titleSlogan {
  color: #6669af;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 30px;
}

.blueButton {
  background-color: #2699FB;
  border: 1px solid #2699FB;
  color: #FFF;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 26px;
}

.learnMoreButton {
  background-color: transparent;
  border: 3px solid #BCE0FD;
  border-radius: 3px;
  color: #2699FB;
  font-weight: bold;
}

.buttonContainer {
  width: 321px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

/* ----- Plans Page ------ */
.pageTitle {
  color: #575DF4;
  font-size: 30px;
  font-family: 'Open Sans';
  margin: 40px 0px 73px 0px;
}

#subscription-features-div h2 {
  font: 800 14px 'Open Sans';
  color: #505050;
  margin: 0;
}

#subscription-features-div ul li {
  color: #2699FB;
  margin: 25px 0;
  font-family: 'Open Sans';
}

#interestedText {
  color: #505050;
  margin: 43px;
}

/* User Page */

#userNBeneficiariesCol{
  position: relative;
  right: 10vw;
}

#searchbar-div{
  padding-top: 1rem;
  padding-bottom: 0;
}

.searchbar{
  padding: .75rem;
  width: 50vw;
}

.profile-pic{
  width: 30%;
}

.userprofile-div{
  margin-top: 1rem;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

/* Beneficiaries Dropdown */

#dropbtn {
  background-color: #2699FB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 160px;
}

/* The container <div> - needed to position the dropdown content */
#dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  border: 1px solid gray;
}

/* Links inside the dropdown */
#dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#dropdown-content a:hover {
  background-color: white;
  border: 1px solid gray;
}

/* Show the dropdown menu on hover */
#dropdown:hover #dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#dropdown:hover #dropbtn {
  background-color: #2699FB;
}